#navbar {
    background-color: #4b50fa !important;
    font-family: 'Bowlby One', cursive;
    font-weight: lighter !important;
}

.nav-link, .navbar-brand {
    color: white !important;
}
.my-row {
    height: 675px;
}

.cover {
    width:auto;
    padding-bottom:0px;
    background-size: cover;
    width: 100%px;
    overflow-x:hidden;
    margin: 0;
}

.headline{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bowlby One', cursive;
    color: black;
    opacity: 100%;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
}

.cover-image {
    width: 100%;
    height:auto;
    opacity: 60%;
    position: relative;
    margin: 0;
    background-size: cover;
    width: 100%px;
    overflow:hidden;
}

.my-col {
    border: solid;
    border-color: white;
    overflow:hidden;
    /* background-color: #ef0041; */
    background-color: #4b50fa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bowlby One', cursive;
    color: white !important;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}

.my-col:hover {
    /* background-color: #2DDFFF; */
    background-color: #ffb480;
    color: white;
}

.my-container {
    overflow: hidden;
}



#join_date{
    font-size: 15px;
}

.profile-body, .guide_detail_body {
    text-align: center;
    font-size: 40px;
    /* background-color: #00f2a2; */
    /* background-color: #2DDFFF; */
    background-color: #ffb480;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bowlby One', cursive;
    margin: 20px;
    /* color: #ef0041; */
    color: #4b50fa;
}

.profile-container {
    margin: 40px;
}

#profile_pic {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%/50%; 

}

.detail_image {
    max-width: 450px;
    max-height: 450px;
}

.title_column {
    text-align: center;
}

.profile_posts_container, .profile_col {
    font-size: 20px;
    border-style: solid;
    /* border-color: #ef0041; */
    border-color: #4b50fa;
    /* color: #ef0041; */
    color: #4b50fa;
    font-family: 'Roboto', sans-serif;
}


.guide_description, .guide_detail_image {
    font-size: 20px;
    max-width: 600px;
    font-family: 'Roboto', sans-serif;
}
.guide_container {
    margin-left: 0;
    margin-right: 0;
}

.guide_column {
    border: solid;
    margin: 5px;
    padding: 5px;
    /* color: #ef0041; */
    /* border-color: #ef0041; */
    color: #4b50fa;
    border-color: #4b50fa;
}

.form-group {
    font-size: 30px;
    text-align:end;
    padding: 30px;
    margin: 60px;
    border: solid;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.update_form_input {
    text-align: end !important;
}


.city-body {
    text-align: center;
    font-size: 40px;
    /* background-color: #00f2a2; */
    /* background-color: #2DDFFF; */
    background-color: #ffb480;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bowlby One', cursive;
    margin: 0;
    
    /* color: #ef0041; */
    color: #4b50fa;
    padding-top: 50px;
    padding-bottom: 100px;
}

.city-header {
    padding-bottom: 45px;
    font-size: 65px;
    line-height: 64px;
}


#card { transition: all .2s ease-in-out; }
#card:hover { transform: scale(1.1); }


#city_img{
    max-width: 700px;
    max-height: 900px;
}

#card_style {
    margin: 5px;
    background-color: #ffb480;
    border: solid;
    border-color: #4b50fa;
}

#newpost{
    font-size: 16px;
    color: blue;
}


.profile-body {
    text-align: center;
    font-size: 16px;
    background-color: #ffb480;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bowlby One', cursive;
    margin: 20px;
    color: #4b50fa;
}

.create-body{
    text-align: center;
    font-size: 16px;
    background-color: #ffb480;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bowlby One', cursive;
    margin: 20px;
    color: #4b50fa;
    padding-bottom: 300px;
}