
#join_date{
    font-size: 15px;
}

.profile-body, .guide_detail_body {
    text-align: center;
    font-size: 40px;
    background-color: #f5f474;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bowlby One', cursive;
    margin: 20px;
    color: #ef0041;
}

.profile-container {
    margin: 40px;
}

#profile_pic {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%/50%; 

}

#myposts {
    margin-top: 30px;
    text-align: start;
    font-size: 25px;
}

.detail_image {
    max-width: 440px;
    max-height: 440px;
}

.title_column {
    text-align: center;
}

.profile_posts_container {
    font-size: 20px;
    color: #ef0041;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.profile_col {
    border-style:solid;
    border-color: #ef0041;
}


.guide_description, .guide_detail_image {
    font-size: 20px;
    max-width: 600px;
    font-family: 'Roboto', sans-serif;
}
.guide_container {
    margin-left: 0;
    margin-right: 0;
}

.guide_column {
    border: solid;
    margin: 5px;
    padding: 5px;
    color: #ef0041;
    border-color: #ef0041;
}
