<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">   <!-- Need to include the post method-->
        {% csrf_token %} <!-- this is for security  -->
        {{form.as_p}} <!--  this creates the inputs -->
        <input type="submit" value="Submit" /> <!-- Need to include a submit input* -->
      </form>
</body>
</html>