{% extends 'navbar.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo&family=Bowlby+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="cover">
        <div>
            <h1 class="headline">Explore</h1>
        </div>
        <img class="cover-image" src="https://eskipaper.com/images/rio-de-janeiro-wallpaper-1.jpg">
    </div>
    <div class="container-fluid my-container">
        <div class="row my-row">
          <div class="col-xl-2 col-md-4 col-sm-6 my-col">
            Barcelona
          </div>
          <div class="col-xl-2 col-md-4 col-sm-6 my-col">
            Warsaw
          </div>
          <div class="col-xl-2 col-md-4 col-sm-6 my-col">
            Brooklyn
          </div>
          <div class="col-xl-2 col-md-4 col-sm-6 my-col">
            Tokyo
          </div>
          <div class="col-xl-2 col-md-4 col-sm-6 my-col">
            Seoul
          </div>
          <div class="col-xl-2 col-md-4 col-sm-6 col-xm-6 my-col">
            Bangkok
          </div>
          <div class="col-xl-2 col-md-4 col-sm-6 col-xm-6 my-col">
            San Francisco
          </div>
          <div class="col-xl-2 col-md-4 col-sm-6 col-xm-6 my-col">
            Mexico City
          </div>
          <div class="col-xl-2 col-md-4 col-sm-6 col-xm-6 my-col">
            Berlin
          </div>
          <div class="col-xl-2 col-md-4 col-sm-6 col-xm-6 my-col">
              Hanoi
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6 col-xm-6 my-col">
                Tbilisi
              </div>
              <div class="col-xl-2 col-md-4 col-sm-6 col-xm-6 my-col">
                Moscow
              </div>
              
        </div>
        <!-- the number of columns is 12, so when you assign a col number , i.e col-4 that means that column should take the width of four columns of the 12 -->
        <!-- xs / sm / md / large / extra large are for what the size should be depending on the screen , i.e set a size for md screens as well as a xmall to change the mobile behavior -->
        <!-- if you want to change the position, (center, whatev) you can use flexbox terminology in the class name -->
        <!-- row justify-content-center (or start, end, etc) justify-content-between would push all the space in between and have elemtns pushed to the outer sides of the div left/right -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}